[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
coreapi = "==2.3.3"
gunicorn = "*"
whitenoise = "==4.0"
dj-database-url = "*"
psycopg2-binary = "*"
django-webpack-loader = "==0.6.0"
django-crispy-forms = "==1.7.2"
django-model-utils = "==3.1.2"
django-allauth = "==0.38.0"
python-slugify = "==2.0.1"
django-filter = "==2.1.0"
django-import-export = "==1.1.0"
django-widget-tweaks = "==1.4.3"
Django = "==2.1.7"

[dev-packages]

[requires]
python_version = "3.7"
